<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: blueviolet;">
    <h1 style="color: aqua;">pagina de inicio</h1>
    <h2>calculadora</h2>
    <p>seleccione la operacion que desea realizar</p>
    <ul>
        <li><a href="/sumar?num1&num2">opcion para sumar</a></li>
        <li><a href="/restar?num1&num2">opcion para restar</a></li>
        <li><a href="/multiplicar?num1&num2">opcion para multiplicar</a></li>
        <li><a href="/division?num1&num2">opcion para division</a></li>
    </ul>
    <!--comentario-->
</body>
</html>